-- MySQL dump 10.13  Distrib 8.0.45, for Linux (x86_64)
--
-- Host: localhost    Database: a504
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `advertisement`
--

DROP TABLE IF EXISTS `advertisement`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `advertisement` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `url` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `advertisement`
--

LOCK TABLES `advertisement` WRITE;
/*!40000 ALTER TABLE `advertisement` DISABLE KEYS */;
/*!40000 ALTER TABLE `advertisement` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `character_detail`
--

DROP TABLE IF EXISTS `character_detail`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `character_detail` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `status` enum('DEFAULT','GRADUATED','EXERCISING') COLLATE utf8mb4_unicode_ci NOT NULL,
  `url` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `character_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_character_detail_character_status` (`character_id`,`status`),
  CONSTRAINT `FKpexwn9dh90yuun657a4g0s5bu` FOREIGN KEY (`character_id`) REFERENCES `characters` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=273 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `character_detail`
--

LOCK TABLES `character_detail` WRITE;
/*!40000 ALTER TABLE `character_detail` DISABLE KEYS */;
/*!40000 ALTER TABLE `character_detail` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `characters`
--

DROP TABLE IF EXISTS `characters`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `characters` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `percentage` double NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=52 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `characters`
--

LOCK TABLES `characters` WRITE;
/*!40000 ALTER TABLE `characters` DISABLE KEYS */;
/*!40000 ALTER TABLE `characters` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `coin_log`
--

DROP TABLE IF EXISTS `coin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `coin_log` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `amount` int NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `type` enum('EARN','USE') COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` bigint NOT NULL,
  `reason` enum('CHARACTER_REROLL','EXCHANGE','FURNITURE_GACHA','GIFTICON_GACHA') COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKg7x7s7de7ujpf0mvfabylv6mi` (`user_id`),
  CONSTRAINT `FKg7x7s7de7ujpf0mvfabylv6mi` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `coin_log`
--

LOCK TABLES `coin_log` WRITE;
/*!40000 ALTER TABLE `coin_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `coin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `exchange`
--

DROP TABLE IF EXISTS `exchange`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `exchange` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `base_date` date NOT NULL,
  `ewma` double NOT NULL,
  `rate` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKqk1vk90f9y430c0hptijr8n02` (`base_date`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `exchange`
--

LOCK TABLES `exchange` WRITE;
/*!40000 ALTER TABLE `exchange` DISABLE KEYS */;
INSERT INTO `exchange` VALUES (1,'2026-03-25 22:34:30.301717','2026-03-25 22:34:30.301717','2026-03-25',2100,10000),(2,'2026-03-26 19:04:33.372135','2026-03-26 19:04:33.372135','2026-03-26',1470,10000),(3,'2026-03-27 17:45:35.707457','2026-03-27 17:45:35.707457','2026-03-27',1029,10000),(4,'2026-03-28 16:43:44.855490','2026-03-28 16:43:44.855490','2026-03-28',720.3,10000),(5,'2026-03-29 18:15:32.454394','2026-03-29 18:15:32.454394','2026-03-29',504.2099999999999,10000);
/*!40000 ALTER TABLE `exchange` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `exchange_rate`
--

DROP TABLE IF EXISTS `exchange_rate`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `exchange_rate` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `exchange_rate` double NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `exchange_rate`
--

LOCK TABLES `exchange_rate` WRITE;
/*!40000 ALTER TABLE `exchange_rate` DISABLE KEYS */;
/*!40000 ALTER TABLE `exchange_rate` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `furniture`
--

DROP TABLE IF EXISTS `furniture`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `furniture` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `position` enum('FLOOR','HIDDEN','LEFT','RIGHT','WALLPAPER','WINDOW') COLLATE utf8mb4_unicode_ci NOT NULL,
  `type` enum('COIN','HIDDEN','POINT') COLLATE utf8mb4_unicode_ci NOT NULL,
  `url` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `theme_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKmjs8kt3503bpr7x1nrq9p0tkk` (`theme_id`),
  CONSTRAINT `FKmjs8kt3503bpr7x1nrq9p0tkk` FOREIGN KEY (`theme_id`) REFERENCES `theme` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=61 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `furniture`
--

LOCK TABLES `furniture` WRITE;
/*!40000 ALTER TABLE `furniture` DISABLE KEYS */;
/*!40000 ALTER TABLE `furniture` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gifticon`
--

DROP TABLE IF EXISTS `gifticon`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `gifticon` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `type` enum('BURGER','CHICKEN','COFFEE') COLLATE utf8mb4_unicode_ci NOT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `url` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gifticon`
--

LOCK TABLES `gifticon` WRITE;
/*!40000 ALTER TABLE `gifticon` DISABLE KEYS */;
INSERT INTO `gifticon` VALUES (1,'2026-03-28 16:51:09.000000','CHICKEN','2026-03-28 16:51:10.000000','d');
/*!40000 ALTER TABLE `gifticon` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inventory`
--

DROP TABLE IF EXISTS `inventory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inventory` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `furniture_id` bigint NOT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKkwi1sm41mrxoujevac7nxtdew` (`furniture_id`),
  KEY `FK86u2qtuaxn5uph2u9olsxk2ic` (`user_id`),
  CONSTRAINT `FK86u2qtuaxn5uph2u9olsxk2ic` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`),
  CONSTRAINT `FKkwi1sm41mrxoujevac7nxtdew` FOREIGN KEY (`furniture_id`) REFERENCES `furniture` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inventory`
--

LOCK TABLES `inventory` WRITE;
/*!40000 ALTER TABLE `inventory` DISABLE KEYS */;
/*!40000 ALTER TABLE `inventory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `item`
--

DROP TABLE IF EXISTS `item`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `item` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `description` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `price` int NOT NULL,
  `type` enum('COIN','POINT') COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `item`
--

LOCK TABLES `item` WRITE;
/*!40000 ALTER TABLE `item` DISABLE KEYS */;
/*!40000 ALTER TABLE `item` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mission`
--

DROP TABLE IF EXISTS `mission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mission` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `advanced_count` int NOT NULL,
  `beginner_count` int NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `intermediate_count` int NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `type` enum('ARM','CARDIO','CORE','LOWER_BODY','SHOULDER','STRETCHING') COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mission`
--

LOCK TABLES `mission` WRITE;
/*!40000 ALTER TABLE `mission` DISABLE KEYS */;
INSERT INTO `mission` VALUES (1,40,10,'?붽퓞移섎? 紐몄뿉 遺숈씠怨??꾨졊???ㅼ뼱?щ졇???대━?몄슂',20,'?꾨졊 而?,'ARM'),(2,60,15,'?쒖꽌 諛쒕걹?쇰줈 ?щ씪媛붾떎 泥쒖쿇???대젮?ㅼ꽭??,30,'移댄봽?덉씠利?,'LOWER_BODY'),(3,40,10,'??諛쒖쓣 ?욎쑝濡??대뵛????臾대쫷??90째濡?援쏀삍???쇱뼱?섏꽭??,20,'?곗?','LOWER_BODY'),(4,40,10,'諛쒖쓣 ?닿묠?덈퉬濡?踰뚮━怨?臾대쫷??90째源뚯? 援쏀삍???쇱뼱?섏꽭??,20,'?ㅼ옘??,'LOWER_BODY'),(5,20,5,'?붿쓣 ?ㅻ줈 ?밴꺼 媛?댁쓣 ?쒖쭩 ?대낫?몄슂 (?닿묠 ?ㅻ줈 議곗엫)',10,'媛???닿린','STRETCHING'),(6,20,5,'怨좉컻瑜??욎쑝濡??숈???泥쒖쿇???ㅼ뼱?щ━?몄슂',10,'紐??욌뮘 ?ㅽ듃?덉묶','STRETCHING'),(7,20,5,'怨좉컻瑜?泥쒖쿇??醫뚯슦濡?湲곗슱?щ낫?몄슂 (醫뚯슦 1?명듃)',10,'紐????ㅽ듃?덉묶','STRETCHING'),(8,20,5,'?붿쓣 癒몃━ ?꾨줈 ?ㅺ퀬 ?놁쑝濡?紐몄쓣 湲곗슱?щ낫?몄슂 (醫뚯슦 1?명듃)',10,'?녾뎄由??ㅽ듃?덉묶','STRETCHING'),(9,20,5,'?붿쓣 ?욎쑝濡?六쀪퀬 ?먮ぉ???꾩븘?섎줈 爰얠뼱蹂댁꽭??,10,'?먮ぉ ?ㅽ듃?덉묶','STRETCHING'),(10,40,10,'?깆쓣 ?닿퀬 ?덈━瑜??욎쑝濡??숈????ㅼ떆 ?쇱뼱?섏꽭??,20,'?숉엺吏','CORE'),(11,20,5,'?붿쓣 六쀬뼱 紐몄쓣 ?쇱쭅?좎쑝濡??좎??섏꽭??(10珥??좎?)',10,'?뚮옲??,'CORE'),(12,80,20,'?쒖옄由ъ뿉??臾대쫷??踰덇컝??諛곌섹 ?믪씠源뚯? ?щ젮蹂댁꽭??,40,'臾대쫷 ?щ━湲?,'CARDIO'),(13,40,10,'?묓뙏??癒몃━ ?꾨줈 彛??щ졇???닿묠 ?믪씠濡??대━?몄슂 (?꾨졊 媛??',20,'?ㅻ쾭?ㅻ뱶 ?꾨젅??,'SHOULDER'),(14,40,10,'?붿쓣 ?놁쑝濡??닿묠 ?믪씠源뚯? ?ㅼ뼱?щ졇???대━?몄슂 (?꾨졊 媛??',20,'?꾨뜑?덉씠利?,'SHOULDER'),(15,40,10,'?닿묠瑜?洹 履쎌쑝濡??쇱벑 ?щ졇??泥쒖쿇???대━?몄슂',20,'?닿묠 ?쇱벑','SHOULDER');
/*!40000 ALTER TABLE `mission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mission_log`
--

DROP TABLE IF EXISTS `mission_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mission_log` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `mission_id` bigint NOT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKm1mppucbggl93qrclongtdh93` (`mission_id`),
  KEY `FKfc6sr274y588qui9x2nj911ra` (`user_id`),
  CONSTRAINT `FKfc6sr274y588qui9x2nj911ra` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`),
  CONSTRAINT `FKm1mppucbggl93qrclongtdh93` FOREIGN KEY (`mission_id`) REFERENCES `mission` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mission_log`
--

LOCK TABLES `mission_log` WRITE;
/*!40000 ALTER TABLE `mission_log` DISABLE KEYS */;
INSERT INTO `mission_log` VALUES (2,'2026-03-24 09:20:10.789607',1,2),(3,'2026-03-24 09:20:38.350896',4,2),(4,'2026-03-24 10:51:40.952899',4,2),(5,'2026-03-24 10:54:31.171559',4,2),(6,'2026-03-24 10:57:14.324861',4,2);
/*!40000 ALTER TABLE `mission_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `point_log`
--

DROP TABLE IF EXISTS `point_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `point_log` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `amount` int NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `type` enum('EARN','USE') COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` bigint NOT NULL,
  `reason` enum('AD_REWARD','EXCHANGE','FURNITURE_GACHA') COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKiwxuemytacp89p9qppgaj84y6` (`user_id`),
  CONSTRAINT `FKiwxuemytacp89p9qppgaj84y6` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `point_log`
--

LOCK TABLES `point_log` WRITE;
/*!40000 ALTER TABLE `point_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `point_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `streak`
--

DROP TABLE IF EXISTS `streak`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `streak` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `data` int NOT NULL,
  `year_and_month` date NOT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FK6ogogn8hwsw1ehpsvbax54e8j` (`user_id`),
  CONSTRAINT `FK6ogogn8hwsw1ehpsvbax54e8j` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `streak`
--

LOCK TABLES `streak` WRITE;
/*!40000 ALTER TABLE `streak` DISABLE KEYS */;
INSERT INTO `streak` VALUES (2,8388608,'2026-03-01',2),(3,2147467264,'2025-12-01',2),(6,2147483647,'2026-01-01',2),(7,268435455,'2026-02-01',2),(8,8388607,'2026-03-01',2);
/*!40000 ALTER TABLE `streak` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `theme`
--

DROP TABLE IF EXISTS `theme`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `theme` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `url` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `theme`
--

LOCK TABLES `theme` WRITE;
/*!40000 ALTER TABLE `theme` DISABLE KEYS */;
/*!40000 ALTER TABLE `theme` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `coin` int NOT NULL DEFAULT '0',
  `deleted_at` datetime(6) DEFAULT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `exercise_level` enum('ADVANCED','BEGINNER','INTERMEDIATE') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nickname` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `point` int NOT NULL DEFAULT '0',
  `created_at` datetime(6) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKob8kqyqqgmefl0aco34akdtpe` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
INSERT INTO `user` VALUES (2,0,NULL,'dabinchi388@naver.com','BEGINNER','dabin','$2a$10$ATuNqoEOsbFM9hGm/DQs.ecrT6SZkkaT7mvcIW9hyGpMmladOn2Ty',5000,NULL,NULL);
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_character`
--

DROP TABLE IF EXISTS `user_character`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_character` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `adoption_date` datetime(6) DEFAULT NULL,
  `exp` int NOT NULL DEFAULT '0',
  `graduation_date` datetime(6) DEFAULT NULL,
  `status` enum('AVAILABLE','GRADUATED','GROWING') COLLATE utf8mb4_unicode_ci NOT NULL,
  `character_id` bigint NOT NULL,
  `user_id` bigint NOT NULL,
  `last_updated_date` date DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKqif86qwg97ofk8fmqjqeriuux` (`character_id`),
  KEY `FKj1uovjddfp7t5yy5i0uk6pn7s` (`user_id`),
  CONSTRAINT `FKj1uovjddfp7t5yy5i0uk6pn7s` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`),
  CONSTRAINT `FKqif86qwg97ofk8fmqjqeriuux` FOREIGN KEY (`character_id`) REFERENCES `characters` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_character`
--

LOCK TABLES `user_character` WRITE;
/*!40000 ALTER TABLE `user_character` DISABLE KEYS */;
INSERT INTO `user_character` VALUES (4,'2026-03-24 10:50:40.223759',0,'2026-03-28 16:51:21.995115','GRADUATED',11,2,'2025-12-14');
/*!40000 ALTER TABLE `user_character` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_furniture`
--

DROP TABLE IF EXISTS `user_furniture`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_furniture` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `furniture_id` bigint DEFAULT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK2mjf4jcnjsi1yj6vdjp3j5k3e` (`user_id`),
  UNIQUE KEY `UK9wjb00yxva4999yqy159ykb91` (`user_id`,`furniture_id`),
  KEY `FKdo1bjdobvpc6xsgr6a5rxxw9e` (`furniture_id`),
  CONSTRAINT `FKdo1bjdobvpc6xsgr6a5rxxw9e` FOREIGN KEY (`furniture_id`) REFERENCES `furniture` (`id`),
  CONSTRAINT `FKjh116akb0pooboykv9hrwhk31` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_furniture`
--

LOCK TABLES `user_furniture` WRITE;
/*!40000 ALTER TABLE `user_furniture` DISABLE KEYS */;
INSERT INTO `user_furniture` VALUES (2,'1970-01-01 00:00:00.002000','1970-01-01 00:00:00.001000',24,2);
/*!40000 ALTER TABLE `user_furniture` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_gifticon`
--

DROP TABLE IF EXISTS `user_gifticon`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_gifticon` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `gifticon_id` bigint DEFAULT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FK42yvn7ok30ogbwsfmgerg8k7t` (`gifticon_id`),
  KEY `FKh7299aqxcuv46qda6ran56vfm` (`user_id`),
  CONSTRAINT `FK42yvn7ok30ogbwsfmgerg8k7t` FOREIGN KEY (`gifticon_id`) REFERENCES `gifticon` (`id`),
  CONSTRAINT `FKh7299aqxcuv46qda6ran56vfm` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_gifticon`
--

LOCK TABLES `user_gifticon` WRITE;
/*!40000 ALTER TABLE `user_gifticon` DISABLE KEYS */;
INSERT INTO `user_gifticon` VALUES (1,'2026-03-28 16:51:22.021463','2026-03-28 16:51:22.021463',1,2);
/*!40000 ALTER TABLE `user_gifticon` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_room`
--

DROP TABLE IF EXISTS `user_room`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_room` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `floor_item` bigint DEFAULT NULL,
  `hidden_item` bigint DEFAULT NULL,
  `left_item` bigint DEFAULT NULL,
  `right_item` bigint DEFAULT NULL,
  `user_id` bigint NOT NULL,
  `wall_item` bigint DEFAULT NULL,
  `window_item` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKcsoagv0x6qli5al2lv5j0q5wa` (`user_id`),
  KEY `FKfd8ixj1ki2879q0pj0onaulm3` (`floor_item`),
  KEY `FKmj20ljm52k5u5hiw2t46b0qrd` (`hidden_item`),
  KEY `FKpm3emtprnc6g8we1ehj22jug0` (`left_item`),
  KEY `FKbnbe7dxm5pc8vo4892s7e6bq3` (`right_item`),
  KEY `FKbmrqlmm6k3eeh5a9aiurya6p` (`wall_item`),
  KEY `FK6ittqxg7rndc5lbibcx0xbw2x` (`window_item`),
  CONSTRAINT `FK1cpknce05q8qk8vdddrf97r2u` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`),
  CONSTRAINT `FK6ittqxg7rndc5lbibcx0xbw2x` FOREIGN KEY (`window_item`) REFERENCES `furniture` (`id`),
  CONSTRAINT `FKbmrqlmm6k3eeh5a9aiurya6p` FOREIGN KEY (`wall_item`) REFERENCES `furniture` (`id`),
  CONSTRAINT `FKbnbe7dxm5pc8vo4892s7e6bq3` FOREIGN KEY (`right_item`) REFERENCES `furniture` (`id`),
  CONSTRAINT `FKfd8ixj1ki2879q0pj0onaulm3` FOREIGN KEY (`floor_item`) REFERENCES `furniture` (`id`),
  CONSTRAINT `FKmj20ljm52k5u5hiw2t46b0qrd` FOREIGN KEY (`hidden_item`) REFERENCES `furniture` (`id`),
  CONSTRAINT `FKpm3emtprnc6g8we1ehj22jug0` FOREIGN KEY (`left_item`) REFERENCES `furniture` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_room`
--

LOCK TABLES `user_room` WRITE;
/*!40000 ALTER TABLE `user_room` DISABLE KEYS */;
INSERT INTO `user_room` VALUES (1,'2026-03-23 20:17:53.003327','2026-03-23 20:17:53.003327',NULL,NULL,NULL,NULL,2,NULL,NULL);
/*!40000 ALTER TABLE `user_room` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-30 13:53:15
