# Server
SERVER_PORT=8080
TZ=Asia/Seoul

# Database
DATABASE_HOST=
DATABASE_PORT=3306
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
MYSQL_ROOT_PASSWORD=

# Redis
REDIS_HOST=
REDIS_PORT=6379
REDIS_PASSWORD=

# Mail
MAIL_USERNAME=
MAIL_PASSWORD=

# JWT
JWT_SECRET=
JWT_ACCESS_TOKEN_VALIDITY=3600000
JWT_REFRESH_TOKEN_VALIDITY=1209600000

# CORS
CORS_ORIGIN_LOCAL_VITE=http://localhost:5173
CORS_ORIGIN_LOCAL_REACT=http://localhost:3000

# PASSWORD
PASSWORD_RESET_URL=

# Minio
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_API_PORT=
MINIO_CONSOLE_PORT=